//КАРТОЧКА ПРЕИМУЩЕСТВ

.advantage-card {
  padding: 30px 33px 18px 20px;
  background-color: @color-basic-grey;
  background-repeat: no-repeat;
  background-position: top 24px left 13px;
}

.advantage-card--weight-lose {
  background-image: url("../../img/advantages/cat.svg");
}

.advantage-card--weight-gain {
  background-image: url("../../img/advantages/gepard.svg");
}

.advantage-card__title {
  margin: 0 0 29px 0;
  padding-left: 70px;
  font-family: @font-family-extra;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.advantage-card__description {
  margin: 0 0 38px 0;
  font-family: @font-family-main;
  color: @color-dark-gray;
}

.advantage-card__link {
  padding: 4px 47px 4px 0;
  font-family: @font-family-extra;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @color-black;
}
