//КНОПКИ

.button {
  cursor: pointer;
  border: none;
  padding: 10px 0;
  font-family: @font-family-extra;
  text-transform: uppercase;
  display: block;
  text-align: center;

  &--main {
    background-color: @color-basic-green;
    font-size: 14px;
    line-height: 18px;
    color: @color-white;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: @color-basic-green-2;
    }

    &:active {
      background-color: @color-basic-green-2;
      color: fade(@color-white, 30%);
    }

    @media (min-width: @tablet-width) {
      padding: 14px 0;
      font-size: 20px;
      line-height: 26px;
    }
  }

  &--product {
    font-size: 16px;
    line-height: 20px;
    background-color: @color-basic-green;
    color: @color-white;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: @color-basic-green-2;
    }

    &:active {
      background-color: @color-basic-green-2;
      color: fade(@color-white, 30%);
    }
  }

  &--show-more {
    font-size: 16px;
    line-height: 20px;
    background-color: @color-basic-grey;
    color: @color-dark-grey;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: @color-special-grey-3;
    }

    &:active {
      background-color: @color-special-grey-3;
      color: fade(@color-dark-grey, 30%);
    }
  }
}
