//КНОПКИ

.button {
  cursor: pointer;
  border: none;
  padding: 10px 0;
  font-family: @font-family-extra;
  text-transform: uppercase;
  display: block;
  text-align: center;

  &--main {
    background-color: @color-basic-green;
    font-size: 14px;
    line-height: 18px;
    color: @color-white;

    @media (min-width: @tablet-width) {
      padding: 14px 0;
      font-size: 20px;
      line-height: 26px;
    }
  }

  &--product {
    font-size: 16px;
    line-height: 20px;
    background-color: @color-basic-green;
    color: @color-white;
  }

  &--show-more {
    font-size: 16px;
    line-height: 20px;
    background-color: @color-basic-grey;
    color: @color-dark-grey;
  }
}
