//БЛОК ПРИМЕРА

.example {
  padding: 25px 20px 40px 20px;
  background-color: @color-basic-grey;
}

.example__title {
  margin-bottom: 40px;
}

.example__description {
  margin: 0 0 20px 0;
  color: @color-dark-grey;
}

.example__subject {
  font-family: @font-family-extra;
  font-size: 24px;
  line-height: 24px;
}

.example__caption {
  font-size: 12px;
  line-height: 12px;
  color: @color-dark-grey;
}

.example__costs {
  font-family: @font-family-extra;
  line-height: 20px;
  margin-bottom: 20px;
}
