//БЛОК ПРИМЕРА

.example {
  background-color: @color-light-grey;

  @media (min-width: @tablet-width) {
    background: linear-gradient(@color-white 619px, @color-light-grey 619px 100%);
  }

  @media (min-width: @desktop-width) {
    background: linear-gradient(@color-white 165px, @color-light-grey 165px 100%);
  }
}

.example__wrapper {
  display: flex;
  flex-direction: column;
  padding: 25px 20px 40px 20px;

  @media (min-width: @tablet-width) {
    padding: 45px 30px 101px 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 29px 110px 75px 110px;
    flex-direction: row;
    gap: 224px;
  }
}

.example__body {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 99px;
  }
}

.example__title {
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 146px;
  }
}

.example__description {
  margin: 0 0 20px 0;
  color: @color-dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }
}

.example__inner-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 34px 32px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 162px 162px 1fr;
    gap: 43px;
  }

  @media (min-width: @desktop-width) {
    max-width: 366px;
    grid-template-columns: 1fr 1fr;
  }
}

.example__container {
  padding-top: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border: 1px solid @color-special-grey;
  border-radius: 3px;

  @media (min-width: @tablet-width) {
    gap: 11px;
  }
}

.example__subject {
  font-family: @font-family-extra;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__caption {
  max-width: 77px;
  padding: 0 5px;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  background-color: @color-light-grey;
  color: @color-dark-grey;
  margin-bottom: -14px;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
    padding: 0 9px;
    max-width: none;
    margin-bottom: -5px;
    background-color: @color-white;
  }

  @media (min-width: @desktop-width) {
    background-color: @color-light-grey;
  }
}

.example__text-container {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  gap: 4px;

  @media (min-width: @tablet-width) {
    grid-column: auto;
    margin-left: auto;
    flex-direction: column;
    align-items: flex-end;
    gap: 9px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/-1;
    justify-content: normal;
    margin: 0;
    flex-direction: row;
    gap: 63px;
  }
}

.example__costs {
  font-family: @font-family-extra;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }
}
