//ДОБАВКИ

.extra {
  padding: 25px 20px 35px;
}

.extra__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.extra__present {
  padding: 187px 61px 43px 58px;
  background-image: url("../../img/icons/gift.svg"),
                    url("../../img/extra/cat-in-bag.png");
  background-repeat: no-repeat;
  background-position: center;
}

.extra__present-text {
  font-size: 16px;
  line-height: 20px;
  color: @color-white;
}
