//ПОЛЕ ИНПУТА

.field {
  display: flex;
  align-items: center;
  gap: 13px;
}

.field__description {
  font-family: @font-family-extra;
  font-size: 16px;
  text-transform: uppercase;
  color: @color-dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.field__input {
  flex-grow: 1;
  border: 1px solid @color-extra-grey;
  padding: 13px 14px 12px 14px;
  font-size: 16px;
  line-height: 18px;
  font-family: @font-family-extra;
  text-transform: uppercase;
  color: @color-dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &--has-icon {
    padding-right: 40px;
    background-repeat: no-repeat;
    background-position: top 12px right 11px;

    &-email {
      background-image: url("../../img/icons/email.svg");
    }

    &-phone {
      background-image: url("../../img/icons/phone.svg");
    }
  }

  &--number {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      appearance: none;
      margin: 0;
    }
  }
}

.field__textarea {
  resize: none;
  height: 150px;

  @media (min-width: @tablet-width) {
    height: 175px;
  }
}
