//ПОЛЕ ИНПУТА

.field {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 13px;

  &:hover .field__mark {
    border-color: @color-special-grey-2;
  }

  &:has(.field__input-checkbox:disabled),
  &:has(.field__input-radio:disabled) {
    opacity: 0.3;
    cursor: not-allowed;
  }

  &--extra {
    @media (min-width: @tablet-width) {
      gap: 20px;
    }
  }
}

.field__description {
  font-family: @font-family-extra;
  font-size: 16px;
  text-transform: uppercase;
  color: @color-dark-grey;
  max-width: 200px;

  @media (min-width: @tablet-width) {
    max-width: 250px;
    font-size: 20px;
    line-height: 30px;
  }

  &--checkbox {
    @media (min-width: @tablet-width) {
      max-width: 200px;
    }

    @media (min-width: @desktop-width) {
      max-width: 175px;
    }
  }
}

.field__input {
  flex-grow: 1;
  border: 1px solid @color-extra-grey;
  padding: 13px 14px 12px 14px;
  font-size: 16px;
  line-height: 18px;
  font-family: @font-family-extra;
  text-transform: uppercase;
  color: @color-dark-grey;

  @media (min-width: @tablet-width) {
    padding: 10px 19px;
    font-size: 20px;
    line-height: 30px;
  }

  &:hover {
    border-color: @color-special-grey;
  }

  &:focus {
    outline: 1px solid @color-dark-grey;
    border-color: @color-dark-grey;
  }

  &--has-error {
    outline: 1px solid @color-error;
    border-color: @color-error;
    pointer-events: none;
  }

  &--has-error + .field__icon {
    stroke: @color-error;
  }

  &--has-icon {
    padding-right: 40px;

    &:focus + .field__icon {
      stroke: @color-basic-green;
    }
  }

  &--number {
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }
  }
}

.field__textarea {
  padding: 13px;
  resize: none;
  height: 150px;

  @media (min-width: @tablet-width) {
    padding: 10px 20px;
    height: 175px;
  }
}

.field__input-radio:checked + .field__mark--radio::before {
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: @color-basic-green;

  @media (min-width: @tablet-width) {
    width: 18px;
    height: 18px;
  }
}

.field__input-checkbox:checked + .field__mark--checkbox {
  background-image: url("../img/icons/tick.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: @tablet-width) {
    background-size: 26px;
  }
}

.field__mark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid @color-special-grey;
  transition: border-color 0.3s ease;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }

  &--radio {
    border-radius: 50%;
  }
}

.field__icon {
  stroke: @color-black;
  position: absolute;
  top: 12px;
  right: 13px;

  @media (min-width: @tablet-width) {
    top: 16px;
    right: 14px;
  }

  @media (min-width: @desktop-width) {
    right: 16px;
  }
}
