//БЛОК ФОРМЫ

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media (min-width: @tablet-width) {
    gap: 52px;
  }

  @media (min-width: @desktop-width) {
    gap: 60px;
  }
}

.form__body {
  display: flex;
  flex-direction: column;
  gap: 26px;

  @media (min-width: @tablet-width) {
    gap: 65px;
  }

  @media (min-width: @desktop-width) {
    gap: 70px;
  }
}

.form__group-wrapper {
  display: flex;
  flex-direction: column;
  gap: 23px;

  @media (min-width: @tablet-width) {
    gap: 72px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.form__group {
  .list-reset();
  display: flex;
  border: none;
  flex-direction: column;
  gap: 14px;

  @media (min-width: @tablet-width) {
    gap: 20px;
  }

  &--user {
    @media (min-width: @desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 80px;
    }
  }

  &--radio {
    padding: 22px 0 18px;

    @media (min-width: @tablet-width) {
      gap: 13px;
      padding: 23px 27px 25px;
      border: 1px solid @color-extra-grey;
    }
  }

  &--checkbox {
    gap: 13px;

    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 32px 60px;
    }

    @media (min-width: @desktop-width) {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 80px;
    }
  }
}

.form__group-title {
  font-family: @font-family-extra;
  color: @color-black;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    margin-bottom: 76px;
    font-size: 36px;
    line-height: 36px;
  }

  &--textarea {
    margin-bottom: 36px;

    @media (min-width: @tablet-width) {
      margin-bottom: 87px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 78px;
    }
  }

  &--checkbox {
    margin-bottom: 31px;

    @media (min-width: @tablet-width) {
      margin-bottom: 57px;
    }
  }
}

.form__container {
  display: flex;
  flex-direction: column;
  gap: 21px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    gap: 60px;
  }

  @media (min-width: @desktop-width) {
    gap: 80px;
  }
}

.form__button {
  @media (min-width: @tablet-width) {
    width: 282px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
  }
}

.form__text {
  align-self: center;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    max-width: 300px;
  }
}
