//СПИСОК ГАЙДА

.guide-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.guide-list__item-icon {
  width: 60px;
  height: 60px;
  background-color: @color-basic-green;
  background-repeat: no-repeat;
  background-position: center;
}

.guide-list__item-icon--leaf {
  background-image: url("../../img/icons/leaf.svg");
}

.guide-list__item-icon--powder {
  background-image: url("../../img/icons/powder.svg");
}

.guide-list__item-icon--eat {
  background-image: url("../../img/icons/eat.svg");
}

.guide-list__item-icon--time {
  background-image: url("../../img/icons/clock.svg");
}

.guide-list__item-description {
  margin: 0;
  color: @color-dark-grey;
}
