//ОСНОВНАЯ НАВИГАЦИЯ

.main-navigation__toggle {
  display: block;
  width: 24px;
  height: 24px;
  border: none;
  padding: 0;
  background-color: transparent;

  @media (min-width: @tablet-width) {
    display: none;
  }

  svg {
    stroke: @color-black;
    transition: stroke 0.3s ease;
  }

  &:hover,
  &:focus-visible {
    svg {
      stroke: @color-basic-green;
    }
  }

  &:active {
    svg {
      stroke: rgba(@color-basic-green, 0.3);
    }
  }

  &--default {
    .main-navigation__toggle-hamburger {
      display: block;
    }

    .main-navigation__toggle-cross {
      display: none;
    }
  }

  &--active {
    .main-navigation__toggle-hamburger {
      display: none;
    }

    .main-navigation__toggle-cross {
      display: block;
    }
  }
}

.main-navigation__list {
  .list-reset();
  position: absolute;
  top: 65px;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: @color-white;

  &--closed {
    display: none;
  }

  &--opened {
    display: block;
  }

  @media (min-width: @tablet-width) {
    position: relative;
    top: 0;
    max-width: 450px;
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
    z-index: 1;
    background-color: transparent;
  }

  @media (min-width: @desktop-width) {
    max-width: 600px;
  }
}

.main-navigation__item {
  border-top: 1px solid @color-additional-grey;

  &:last-child {
    border-bottom: 1px solid @color-additional-grey;

    @media (min-width: @tablet-width) {
      border: none;
    }
  }

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.main-navigation__link {
  display: block;
  padding: 22px 0 24px;
  font-family: @font-family-extra;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: @color-black;
  text-align: center;
  transition: opacity 0.3s ease;

  &--active {
    @media (min-width: @tablet-width) {
      border-bottom: 2px solid @color-basic-green;
    }
  }

  &--active.main-navigation__link--has-background {
    @media (min-width: @desktop-width) {
      border-bottom-color: @color-white;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 10px 0;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;

    &--has-background {
      color: @color-white;
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
