//ШАПКА САЙТА

.page-header {
  background-color: @color-white;
  padding: 13px 20px 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;

  &--nojs {
    @media (max-width: @mobile-width-only) {
      flex-direction: column;
      align-items: stretch;

      .main-navigation__toggle {
        display: none;
      }

      .main-navigation__list {
        position: static;
        display: block;
      }
    }
  }

  &--border-bottom {
    border-bottom: 1px solid @color-special-grey-4;

    @media (min-width: @tablet-width) {
      border: none;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 25px 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 55px 110px 29px 110px;
  }
}

.page-header__logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px 56px;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    gap: 13px;
  }
}

.page-header__logo-image {
  display: block;

  @media (min-width: @tablet-width) {
    width: 60px;
    height: auto;
  }

  @media (min-width: @desktop-width) {
    width: 70px;
  }
}
