//ПРОДУКТ

.product {
  padding: 20px 0 25px;
}

.product__link {
  display: block;
  width: 140px;
  height: 107px;
}

.product__title {
  display: block;
  margin-bottom: 14px;
  font-family: @font-family-extra;
  font-size: 16px;
  line-height: 20px;
  color: @color-dark-grey;
}

.product__details-line {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: @color-dark-grey;
}

.product__details-line dd {
  margin: 0;
}

.product__text {
  font-size: 12px;
  line-height: 16px;
  color: @color-dark-grey;
}
