//СОЦИАЛЬНЫЕ СЕТИ

.socials {
  .list-reset();
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    padding-left: 40px;
    max-width: 276px;
  }

  @media (min-width: @desktop-width) {
    max-width: 450px;
  }
}

.socials__link {
  display: block;
  width: 28px;
  height: 22px;

  svg {
    fill: @color-dark-grey-2;
    transition: fill 0.3s ease;
  }

  &:hover,
  &:focus-visible {
    svg {
      fill: @color-basic-green;
    }
  }

  &:active {
    svg {
      fill: rgba(@color-basic-green, 0.3);
    }
  }
}
