//ПЕРЕМЕННЫЕ

//ШРИФТЫ
@font-family-main: "Lato", "Arial", sans-serif;
@font-family-extra: "Oswald", "Tahoma", sans-serif;

//ЦВЕТА
@color-black: #000000;
@color-white: #ffffff;
@color-basic-grey: #f2f2f2;
@color-dark-grey: #444444;
@color-extra-grey: #e7e7e7;
@color-light-grey: #eaeaea;
@color-additional-grey: #e6e6e6;
@color-special-grey: #cdcdcd;
@color-special-grey-2: #bababa;
@color-special-grey-3: #ebebeb;
@color-basic-green: #68B738;
@color-basic-green-2: #5eaa2f;

//РАЗМЕРЫ ЭКРАНА
@mobile-width-only: 767px;
@tablet-width: 768px;
@desktop-width: 1440px;
